body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #86b6dd, #064677);
    color: #fff;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-container {
    margin: 10px 0;
    text-align: left;
}

input, textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
}

button {
    background-color: #196e2c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #cacdcf;
}

.result-container {
    text-align: left;
}

textarea[readonly] {
    background-color: #ccc;
}
